<div>
    <div *ngIf="isSignedIn()" class="navbar">
        <p>Hello, {{getCurrentUserEmail()}}</p>
        <div class="navbar-item">
            <a href="/games" class="navbar-item-text">Games</a>
        </div>
        <div class="navbar-item">
            <a href="/signout" class="navbar-item-text">Sign Out</a>
        </div>
    </div>
    <div *ngIf="!isSignedIn()" class="navbar">
        <div class="navbar-item">
            <a href="/users/login" class="navbar-item-text">Login</a>
        </div>
        <div class="navbar-item">
            <a href="/users/register" class="navbar-item-text">Register</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>